* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  padding: 2rem;
  width: 100vw;
  height: 100vh;
}

.ball {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;

  background-color: red;

  position: absolute;
  top: 50vh;

  box-shadow: inset 0.5rem 0.5rem 5rem black;

  animation: 3s linear infinite alternate running animation-ball;
}

.shadow {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;

  background-color: rgb(0, 0, 0, 0.2);

  position: absolute;
  top: 63vh;
  left: 2.5vw;

  animation: 3s linear infinite alternate running animation-shadow;
}

@keyframes animation-ball {
  0% {
    transform: translateX(0rem) translateY(0rem);
  }

  25% {
    transform: translateX(20rem) translateY(-10rem);
  }

  50% {
    transform: translateX(40rem) translateY(0rem);
  }

  75% {
    transform: translateX(60rem) translateY(-10rem);
  }

  100% {
    transform: translateX(80rem) translateY(0rem);
  }
}

@keyframes animation-shadow {
  0% {
    transform: translateX(0rem) translateY(0rem);
  }

  25% {
    transform: translateX(20rem) translateY(0rem);
  }

  50% {
    transform: translateX(40rem) translateY(0rem);
  }

  75% {
    transform: translateX(60rem) translateY(0rem);
  }

  100% {
    transform: translateX(80rem) translateY(0rem);
  }
}
